//----- colour defns -----//
$creme: #ECE5DA;
$liquorice: #1f1f1f;
$blueb: #1F298B;
$limon: #ECD964;
$hazelnut: #A44F30;
$periwinkle: #ABB1ED;
$kookaiblue: #6874DE;
$apple: #8FB339;

:root {
  --text: #{$liquorice};
  --bg: #{$creme};
  --accent: #{$kookaiblue};
  --accent4: #{$limon};
  --lines: #{$liquorice};
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #{$creme};
    --bg: #{$liquorice};
    --accent: #{$periwinkle};
    --accent4: #{$limon};
    --lines: #{$creme};
  }
}
// -------------------------------------------- //

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: var(--bg); }

html { height: 100%; scroll-behavior: smooth;}

body {
  color: var(--text);
  font-family: Lato;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

a:link {
  color: var(--accent);
  text-decoration: none;
}

a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent4);
  text-decoration: none;
  transition: color 0.3ms;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: #ECD964; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid var(--lines);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: var(--bg);
  background: var(--text);
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid var(--lines);
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
